#wiki{
    margin: 10px auto;
    width: 75%;
    padding: 10px;
    border: 1px solid black ;
}
.wiki-section{
    margin: auto;
    width: 95%;
    height: min-content;
    padding: 10px;
}

.wiki-section h1{
    text-align: center;
}

.wiki-section h1::after{
    content:"";
    background-color: black;
    height: 1px;
    width: 90%;
    display: block;
    margin: auto;
}
.wiki-section h1::before{
    content:"# ";
}

.wiki-section p{
    text-indent: 20px;
    text-align: justify;
}
