.card-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.card-container::after {
    content: "";
    flex: auto;
}

.card {
    width: 400px;
    height: min-content;
    text-align: center;
    display: grid;
    align-items: center;
    margin: 30px auto;
    border: solid var(--color4) 1.5px;
    border-radius: 10px;
    padding: 5px;
}

.card p{
    text-align: justify;
    margin: auto 4px ;
}

.card ul{
    width: 80%;
    text-align: left;
}

.card-image {
    background: lightblue;
    width: 325px;
    height: 325px;
    margin: auto;
}

.card-description{
    text-align: justify;
    margin: 4px 2rem !important;
}

.card-info{
    list-style: none;
    text-indent: 2rem;
}

.card-stat{
    color: var(--color2);
}

.card-attribute{
    color: var(--color5);
}

.card-remaining-attributes{
    color: var(--color1);
}

#cards-error-message{
    text-align: center;
    color:var(--color1);
}

.card-actions{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: auto;
    width: 20vw;
    justify-content:space-evenly;
}

.card-action{
    cursor: pointer;
    display: flex;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    align-content: center;
    background-color: var(--color4);
    justify-content: center;
    border: none;
    border-radius: 10px;
}

.card-action:hover{
    filter: brightness(0.9);
}

.modal{
    position: fixed;
    width: 30vw;
    height: min-content;
    padding: 30px;
    border-radius: 30px;
    box-shadow: black 1px 1px 5px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* margin-top: -10vh; */
    /* margin-left: -15vw; */
    z-index: 101;
}

.ui-blocker{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    filter: blur(2px);
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:100;
}
