#references{
    flex-grow: 1;
}
#list-references{
    margin-left: 30px;
    font-size: 2rem;
    margin-bottom: auto;
}

.reference{
    list-style: none;
}
.reference p{
    display:inline;
}
.reference::before{
    content:" - ";
}
