:root {
    --color1: #700c20;
    --color2: #e7680d;
    --color3: #fae361;
    --color4: #90ee76;
    --color5: #231fa7;
    --background-color: #fafafa;
    --font1: #000000;
    --font2: #ffffff;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color:var(--font1);
    background-color: var(--background-color);
}
#root{
    background-color: var(--background-color);

}

* {
    font-family: noto sans-serif;
    margin: 0px;
    padding: 0px;
}

